.centerLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f8edeb;
  height: 100vh;
  width: 100%;
}
.example-card {
  max-width: 400px;
  padding: 10px;
}

